USE [master]
GO
/****** Object:  Database [NVLong_BT1]    Script Date: 12/04/2026 7:35:08 PM ******/
CREATE DATABASE [NVLong_BT1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NVLong_BT1', FILENAME = N'D:\study\BT1\NVLong_BT1.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NVLong_BT1_log', FILENAME = N'D:\study\BT1\NVLong_BT1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NVLong_BT1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NVLong_BT1]
GO
/****** Object:  Table [dbo].[SaoHoa]    Script Date: 12/04/2026 7:35:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaoHoa](
	[masv] [nvarchar](20) NOT NULL,
	[hotensv] [nvarchar](100) NULL,
	[malop] [nvarchar](20) NULL,
	[ngaysinh] [date] NULL,
	[noisinh] [nvarchar](50) NULL,
	[diachi] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TT_SinhVien]    Script Date: 12/04/2026 7:35:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TT_SinhVien](
	[masv] [nvarchar](20) NOT NULL,
	[hotensv] [nvarchar](100) NULL,
	[malop] [nvarchar](20) NULL,
	[ngaysinh] [date] NULL,
	[noisinh] [nvarchar](50) NULL,
	[diachi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
